*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.nav-links {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  height: 100vh;
  right: 0rem;
  top: 0vh;
  background: rgba(34, 34, 34, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(4.5px);
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 75vw;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  -webkit-animation: 3s ease 0s slideOpacity;
          animation: 3s ease 0s slideOpacity;
}

nav li {
  padding: 0 5rem;
  opacity: 0;
  list-style-type: none;
  margin: 2rem 0;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  font-size: 1.75rem;
}

nav li .link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  opacity: 0%;
  background: #6FB4FF;
  -webkit-transition: width 200ms, opacity 200ms, 250ms ease;
  transition: width 200ms, opacity 200ms, 250ms ease;
  z-index: 1;
}

nav li .link:hover::after {
  opacity: 100%;
  width: 100%;
  -webkit-transition: width 200ms;
  transition: width 200ms;
  -webkit-box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
}

nav li .nav-cta {
  border: 4px solid #FFFCFF;
  padding: .4rem .8rem;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

nav li .nav-cta:hover {
  color: #0D1821;
  background-color: #FFFCFF;
  -webkit-box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
}

.nav-links a {
  color: #FFFCFF;
  text-decoration: none;
}

.nav-logo img {
  height: 55px;
  width: 55px;
}

.nav-header img {
  width: 160px;
  height: 36.79px;
}

.burger {
  display: block;
  cursor: pointer;
  z-index: 10;
  padding: 15px;
}

.burger div {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: #0D1821;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 6;
}

.hero-section {
  width: 100%;
  height: 65vh;
  background: -webkit-gradient(linear, left top, right top, from(#6FB4FF), to(#F187FB));
  background: linear-gradient(to right, #6FB4FF, #F187FB);
  color: #FFFCFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.hero-section .ball1 {
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#5460F9), to(#12B3EB));
  background: linear-gradient(bottom, #5460F9, #12B3EB);
  position: absolute;
  left: -150px;
}

.hero-section .ball2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#F67B6B), color-stop(#F2C1EA), to(#FCD4CA));
  background: linear-gradient(0turn, #F67B6B, #F2C1EA, #FCD4CA);
  position: absolute;
  left: 80%;
  bottom: 45%;
}

.hero-section .ball3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#B3E8F7), color-stop(#F3A0D7), to(#F4E6F1));
  background: linear-gradient(0turn, #B3E8F7, #F3A0D7, #F4E6F1);
  position: absolute;
  left: 50%;
  top: 50%;
}

.hero-section .container {
  width: 100%;
  height: 35vh;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(4.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-section .container .content {
  max-width: 40rem;
  max-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-section .container .logo-hero {
  width: 75px;
  height: 75px;
}

.hero-section .container .hero-header {
  padding: 2.8rem 0.9rem 1.2rem 0.9rem;
  width: 50vw;
  max-width: 90%;
}

.hero-section .container .desc {
  max-width: 300px;
  padding-bottom: 2rem;
  width: 80vw;
  max-width: 60%;
  font-size: clamp(0.15rem, 2.5vw, 1.2rem);
}

.hero-section .container .social-links {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-section .container .social-links .social-link {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  padding: 0 1rem;
}

.hero-section .container .social-links .social-link:hover,
.hero-section .container .social-links .social-link:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.recent-blogs {
  width: 100%;
  padding: 5rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFCFF;
}

.recent-blogs h2 {
  padding: 1rem;
}

.recent-blogs .down-btn {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  cursor: pointer;
}

.recent-blogs .down-btn:hover,
.recent-blogs .down-btn:focus {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.recent-section {
  font-family: 'Lora', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  background-color: #FFFCFF;
}

.recent-section .post {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-section .post .cover {
  margin-top: 5em;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2616) 38px 28px 0px;
          box-shadow: rgba(149, 157, 165, 0.2616) 38px 28px 0px;
}

.recent-section .post .cover img {
  max-width: 100%;
}

.recent-section .post .date {
  margin: 2.2rem;
  width: 100%;
}

.recent-section .post .title {
  margin-bottom: 2.2rem;
  width: 100%;
}

.recent-section .post .title h2 {
  font-size: clamp(1.2rem, 5.2vw, 3.2rem);
}

.recent-section .post .desc {
  width: 100%;
  margin-bottom: 1rem;
  font-size: clamp(0.15rem, 2.5vw, 1.4rem);
}

.recent-section .post .read-more-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.recent-section .post .btn {
  background: transparent;
  font-size: .9rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #0D1821;
  padding: 0.5em;
  z-index: 1;
}

.recent-section .post .btn a {
  text-decoration: none;
  color: #0D1821;
}

.recent-section .post .btn::after {
  content: "";
  position: absolute;
  background: #6FB4FF;
  height: .95em;
  width: 65%;
  left: 0;
  z-index: -1;
  top: 50%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.recent-section .post .btn:hover::after,
.recent-section .post .btn:focus::after {
  -webkit-transform: scale(1.55, 1.85);
          transform: scale(1.55, 1.85);
}

.recent-section .view-all-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

.recent-section .view-all {
  margin-top: 2rem;
  background: none;
  padding: .5rem;
  width: 25%;
  font-size: 1rem;
  border: 3px solid #0D1821;
  color: #0D1821;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  border-radius: 3px;
}

.recent-section .view-all:hover,
.recent-section .view-all:focus {
  padding: 1rem;
  width: 35%;
  background-color: #0D1821;
  color: #FFFCFF;
  cursor: pointer;
}

.about-section {
  font-family: 'Lora', sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  -webkit-animation: 3s ease 0s slideOpacity;
          animation: 3s ease 0s slideOpacity;
}

.about-section h2 {
  padding: 5rem;
}

.about-section h2::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  opacity: 0%;
  background: #6FB4FF;
  -webkit-transition: width 200ms, opacity 200ms, 250ms ease;
  transition: width 200ms, opacity 200ms, 250ms ease;
  z-index: 1;
}

.about-section h2:hover::after {
  opacity: 100%;
  width: 100%;
  -webkit-transition: width 200ms;
  transition: width 200ms;
  -webkit-box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
}

.about-section p {
  padding: 20rem 2rem 2rem 2rem;
  margin-bottom: 30rem;
  font-size: clamp(1rem, 0.8vw, 3rem);
  text-align: center;
  max-width: 1800px;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#6FB4FF), to(#F187FB));
  background: linear-gradient(to right, #6FB4FF, #F187FB);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 35vh;
  font-family: 'Poppins', sans-serif;
  color: #0D1821;
  position: relative;
  display: flex;
  text-align: left;
}

footer .container {
  width: 100%;
  height: 35vh;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(4.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}

footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .top .left-col {
  width: 50%;
  padding: 0 .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .top .left-col h3 {
  width: 100%;
  text-align: left;
}

footer .top .left-col p {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

footer .top .left-col form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer .top .left-col form input {
  border: none;
  background: #0D1821;
  padding: .5rem;
  max-width: 21rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer .top .left-col form input::-webkit-input-placeholder {
  color: #FFFCFF;
}

footer .top .left-col form input:-ms-input-placeholder {
  color: #FFFCFF;
}

footer .top .left-col form input::-ms-input-placeholder {
  color: #FFFCFF;
}

footer .top .left-col form input::placeholder {
  color: #FFFCFF;
}

footer .top .left-col form .submit {
  padding: 1rem 0;
  text-align: left;
}

footer .top .left-col form .submit-btn {
  width: 6rem;
  border: 3px solid #0D1821;
  border-radius: 30px;
  background-color: transparent;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer .top .left-col form .submit-btn:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
  color: #FFFCFF;
  background-color: #0D1821;
  cursor: pointer;
}

footer .top .left-col form .email-input:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
}

footer .top .left-col form .email-input:focus,
footer .top .left-col form .email-input:active {
  -webkit-box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
  background-color: #FFFCFF;
  outline: none;
}

footer .right-left {
  height: 10rem;
  width: 1.5px;
  opacity: 25%;
  background-color: #0D1821;
  margin: 0 1rem;
}

footer .right-col {
  width: 50%;
  text-align: left;
}

.under {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
}

.under .social-links {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2rem;
}

.under .social-links .social-link {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  padding: 0 1rem;
}

.under .social-links .social-link:hover,
.under .social-links .social-link:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.under p {
  margin-bottom: 2rem;
}

.under .author::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  opacity: 0%;
  background: #6FB4FF;
  -webkit-transition: width 200ms, opacity 200ms;
  transition: width 200ms, opacity 200ms;
  z-index: 1;
}

.under .author:hover::after {
  opacity: 100%;
  width: 100%;
  -webkit-transition: width 200ms;
  transition: width 200ms;
  cursor: pointer;
}

.ball1 {
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#5460F9), to(#12B3EB));
  background: linear-gradient(bottom, #5460F9, #12B3EB);
  position: absolute;
  left: -150px;
}

.ball2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#F67B6B), color-stop(#F2C1EA), to(#FCD4CA));
  background: linear-gradient(0turn, #F67B6B, #F2C1EA, #FCD4CA);
  position: absolute;
  left: 80%;
  bottom: 45%;
}

.ball3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#B3E8F7), color-stop(#F3A0D7), to(#F4E6F1));
  background: linear-gradient(0turn, #B3E8F7, #F3A0D7, #F4E6F1);
  position: absolute;
  left: 50%;
  top: 50%;
}

.logo {
  padding: 15px;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 800px) {
  body {
    overflow-x: auto;
  }
  .burger {
    display: none;
  }
  nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
  }
  nav .nav-logo {
    padding: 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav-logo img {
    height: 65px;
    width: 65px;
  }
  nav .nav-links {
    position: absolute;
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 8vh;
    padding: 0;
    margin: 0;
    background-color: none;
    width: 100%;
  }
  nav .nav-links li {
    all: unset;
  }
  nav .nav-links li .link::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    opacity: 0%;
    background: #6FB4FF;
    -webkit-transition: width 200ms, opacity 200ms;
    transition: width 200ms, opacity 200ms;
    z-index: 1;
  }
  nav .nav-links li .link:hover::after {
    opacity: 100%;
    width: 100%;
    -webkit-transition: width 200ms;
    transition: width 200ms;
  }
  nav .nav-links li .nav-cta {
    margin: 0 2rem 0 2rem;
    border: solid 3px #0D1821;
    border-radius: 30px;
    padding: .3rem .8rem .3rem .8rem;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }
  nav .nav-links li .nav-cta:hover {
    background-color: #0D1821;
    color: #FFFCFF;
    -webkit-box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
            box-shadow: rgba(50, 50, 93, 0.3) 0px 10px 20px 0px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
  }
  nav .nav-links li a {
    color: #0D1821;
  }
  nav .nav-links li a:hover {
    cursor: pointer;
  }
  .nav-header {
    display: none;
  }
  .recent-section .post {
    -webkit-animation: 3s ease 0s slideInFromLeft;
            animation: 3s ease 0s slideInFromLeft;
  }
  .recent-section .post .cover img {
    width: 400px;
    height: 267px;
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  nav .nav-links {
    width: 50%;
    margin-right: 2rem;
  }
  nav .nav-links li {
    margin: 0 1rem;
  }
  nav .nav-links li a:hover {
    cursor: pointer;
  }
  nav .nav-header {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav-logo img {
    height: 85px;
    width: 85px;
  }
  .hero-section .ball1 {
    width: 550px;
    height: 550px;
    left: -300px;
  }
  .hero-section .ball2 {
    width: 250px;
    height: 250px;
  }
  .hero-section .ball3 {
    height: 200px;
    width: 200px;
  }
  .hero-section .container {
    height: 45vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero-section .container .logo-hero {
    width: 175px;
    height: 175px;
  }
  .recent-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recent-section .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .recent-section .post .left-col {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recent-section .post .left-col .cover img {
    width: 500px;
    height: 100%;
  }
  .recent-section .post .right-col {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .recent-section .view-all-btn {
    margin: 5rem 0 6rem;
  }
  footer .top .left-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .top .left-col form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  footer .top .left-col form .email-input {
    height: 35px;
    width: 21rem;
  }
  footer .top .left-col h3 {
    text-align: center;
  }
  footer .top .left-col p {
    text-align: center;
  }
  footer .top .left-col .right-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .top .left-col .right-col h3 {
    text-align: center;
  }
  footer .top .left-col .right-col p {
    text-align: center;
    max-width: 100px;
  }
  footer .under {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 1512px) {
  nav .nav-links {
    margin-right: 2rem;
  }
  nav .nav-links li {
    margin: 0 1rem;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }
  nav .nav-links li .link {
    all: unset;
  }
  nav .nav-links li a:hover {
    cursor: pointer;
  }
  nav .nav-header {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-section .container .logo-hero {
    width: 200px;
    height: 200px;
  }
  .recent-section .post {
    margin: 0 2rem;
  }
  .recent-section .post .left-col .cover img {
    width: 600px;
    height: 100%;
  }
  .recent-blogs {
    font-size: 1.55rem;
  }
  footer .top {
    font-size: 1.25rem;
  }
  footer .top .right-col {
    text-align: center;
  }
  footer .author {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1820px) {
  nav .nav-links {
    margin-right: 2rem;
  }
  nav .nav-links li {
    margin: 0 3rem;
  }
  nav .nav-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  nav .nav-header img {
    width: 255px;
    height: 59px;
  }
  .recent-section .post .left-col .cover img {
    width: 30vw;
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */